<% flash.each do |name, msg| %>
  <% if msg.present? %>
    <div class="header">
      <p class="logo brandon">Drylab</p>
      <%= content_tag :div, msg, class: "byline brandon" %>
    </div>
  <% end %>
<% end %>
<div class="hero">
  <div class="row">
    <div class="flex-cont">
      <div class="flex-item">
        <p class="large brandon">Drylab 3 is coming!</p>
        <div class="small-wrap">
          <p class="small brandon">Decades of experience, distilled into our completely re-designed software.</p>
          <p class="small brandon">Built especially for you independent film-makers, with limited resources, yet big visions.</p>
          <p class="small brandon">No more lost takes or poor overview.</p>
          <p class="small brandon">Just better creation. Anywhere.</p>
        </div>
      </div>
      <div class="flex-item">
        <div class="ipad-mock">
          <iframe src="https://player.vimeo.com/video/252508823?autoplay=1&loop=1&loop=1&title=0&byline=0&portrait=0" width="360" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <!-- <%=video_tag(['landing_page_video_frameless.mp4', 'landing_page_video_frameless.ogg'], autoplay: true, loop: true, muted: true, controls: true, controlsList: "nofullscreen, nodownload", type: 'video/mp4', class: "video")%> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
