<div class="header">
  <p class="logo brandon"></p>
  <p class="brandon">
    Drylab
  </p>
  <% flash.each do |name, msg| %>
    <% if msg.present? %>
      <%= content_tag :div, msg, class: "byline brandon" %>
    <% end %>
  <% end %>
</div>

<div class="hero">
  <div class="flex-cont">
    <div class="flex-item share-wrap">
      <p class="title">Thank you<br />for signing up!</p>
      <p class="subtitle brandon">It means a lot to us.</p>
    </div>
    <div class="flex-item">
      <div class="share-wrap">
        <p class="why brandon">Don't leave your film making friends behind</p>
        <p class="title brandon">Share early access</p>
        <p class="subtitle brandon">Share the link via e-mail, Snap, Insta, handwritten note, or other preferred media. Press an icon or copy and paste the unique link, then track your influence.</p>
        <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
        <% twitter_message = "#Film-making is evolving. Excited for @drylab 3 to launch." %>
        <div class="social-links">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Drylab" class="fb" target="_blank"></a>
          <a href="https://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= root_url %>?ref=<%= @user.referral_code %>" title="Drylab 3 is coming" class="linkedin" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="disclaimer">
    *Valid until December 31st 2018
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count
      stop["selected"] = true
      found = stop if found == nil
    else
      stop["selected"] = false
    end
  }
%>

<%
  words = ''
  if referrals_count == 1
    words = 'friend has'
  else
    words = 'friends have'
  end
%>


<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">


    <% if referrals_count == 0 %>
      <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> signed up - You have earned <span> <%= found["prize"] %> USD free use! </span></p>
    <% end %>
    <p class="callout brandon">So many friends, so little time</p>
    <ul class="products clearfix">
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="sep"></div>
          <div class="circle"><%= stop["count"] %></div>
          <div class="stop_name"><%= stop["html"].html_safe %></div>
          <div class="description">
            <%= stop["description"].html_safe %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
