<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Drylab</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="#Filmmaking is evolving"/>
  <meta property="og:description" content="Excited for @drylab 3 to launch. Check it out: "/>
  <meta property="og:image" content="<%= root_url %><%= asset_path("home/social.jpg") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

<div style="clear: both; display: block; margin-top: 8em; margin-bottom: 2em; color: white; text-align: center;" class="small brandon">
  Drylab R&amp;D AS · <a href="mailto:info@drylab.io">info@drylab.io</a> · +47 95 74 58 74‬ (Norway) · +1 (818) 748-9766‬ (USA) · <a href="https://drylab.zendesk.com" target="_blank">Knowledge base</a> · Gaustadalléen 21, 0349 Oslo, Norway
</div>

</body>
</html>
